{
  "modelPackageArn": "arn:aws:sagemaker:ap-northeast-1:ACCOUNT_ID:model-package/yomitoku-pro-XXXX",
  "region": "ap-northeast-1",
  "wafWebAclId": "arn:aws:wafv2:us-east-1:ACCOUNT_ID:global/webacl/my-acl/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
}
